<div class="container-fluid">
  <section class="row">
  	 <div class="fill-screen fixed-attachment" id="background1">
  	 </div>
  </section>

<section class="row content-filler">
<h1> Welcome to the Sample App</h1>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary center" %>
  
</section>

<section class="row">
  	 <div class="col-lg-12 fill-screen fixed-attachment" id="background2">
  	 </div>
</section>

<section class="row content-filler">
</section>
  	
<section class="row">
  	 <div class="fill-screen fixed-attachment" id="background3">
  	 </div>
</section>

<section class="row content-filler">
 
</section>

  		



</div>

