/*flash*/

.alert-box{
  position: relative;
}
.alert-error {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
}

.alert {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
}

.success {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
}

.alert-notice {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
}

/* Header */
.navbar-brand{
  font-family: sans-serif;
  font-size: 25px;
  font-weight: bold;
  text-shadow: -2px -2px 0px #fff,
                            0 -2px 0 #fff,
                            2px -2px 0 #fff,
                            2px 0 0 #fff,
                            2px 2px 0 #fff,
                            0 2px 0 #fff,
                            -2px 2px 0 #fff,
                            -2px 0 0 #fff;
}
#header-margin{
  margin-bottom: 80px;
}

/* Base Styles */
hr{
  border-width: thick;
}

body{
font-family: "Open Sans", sans-serif;
}

h1 {
  color: #ccc;
  weight: 300;
}

figure {
  margin: auto;
}

.content {
  article {
    padding: 100px 0;
    max-width: 640px;
    margin: 0 auto;
    text-align: center;
  }
}

img {
  max-width: 100%;
}

/* Parallax */

.row{
  margin-left: auto;
  margin-right: auto;
}

.logo-box{
  position: relative;
  height: 670px;
  background: asset_url("bg-header.jpg");
  background-size: cover;
  background-position: bottom right;
  background-attachment: fixed;
  overflow: hidden;
  z-index: 1;
}

 .logo {
 height: 100px;
 width: 100%;
 background: asset_url("logo.png");
 background-position: center;
 background-repeat: no-repeat;
 position: absolute;
 top: 50%;
 margin-top: -50px;
 }

.fore-logo{
  width: 258px;
  height: 40%;
  background-color: transparentize(black, 0.4);
  background: asset_url("bg-front.png");
  background-repeat: no-repeat;
  background-postion: left bottom;
  position: absolute;
  right: 100%;
  margin-right: -400px;
  top: 600px;
}

/* Animated Skills progress bar with CSS3 */
.skillbar {
  position:relative;
  display:block;
  margin-bottom:15px;
  width:100%;
  background:#eee;
  height:35px;
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  -webkit-transition:0.4s linear;
  -moz-transition:0.4s linear;
  -ms-transition:0.4s linear;
  -o-transition:0.4s linear;
  transition:0.4s linear;
  -webkit-transition-property:width, background-color;
  -moz-transition-property:width, background-color;
  -ms-transition-property:width, background-color;
  -o-transition-property:width, background-color;
  transition-property:width, background-color;
}

.skillbar-title {
  position:absolute;
  top:0;
  left:0;
width:110px;
  font-weight:bold;
  font-size:13px;
  color:#ffffff;
  background:#6adcfa;
  -webkit-border-top-left-radius:3px;
  -webkit-border-bottom-left-radius:4px;
  -moz-border-radius-topleft:3px;
  -moz-border-radius-bottomleft:3px;
  border-top-left-radius:3px;
  border-bottom-left-radius:3px;
}

.skillbar-title span {
  display:block;
  background:rgba(0, 0, 0, 0.1);
  padding:0 20px;
  height:35px;
  line-height:35px;
  -webkit-border-top-left-radius:3px;
  -webkit-border-bottom-left-radius:3px;
  -moz-border-radius-topleft:3px;
  -moz-border-radius-bottomleft:3px;
  border-top-left-radius:3px;
  border-bottom-left-radius:3px;
}

.skillbar-bar {
  height:35px;
  width:0px;
  background:#6adcfa;
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
}

.skill-bar-percent {
  position:absolute;
  right:10px;
  top:0;
  font-size:11px;
  height:35px;
  line-height:35px;
  color:#ffffff;
  color:rgba(0, 0, 0, 0.4);
}

/* Portfolio */

.portfolio-posts {
  margin-top: 100px;

  div{
    border: 1px solid #e1e1e1;
    padding: 10px 10px 0;
    background: white;
    position: relative;
    left: 0px;

  }
  p{
    font-size: 11px;
  }
  .post-1{
    transform: translate (100px, 20px);
    margin-right: 30px;
  }
  .post-2{
    margin-right: 30px;
  }
  .post-3{
    transform: translate (-100px, 20px);
  }
}

/* Interest Grid */

.interest {
  margin-bottom: 100px;
  margin-top: 100px;
  figure{
    margin-bottom: 20px;
    padding-left: 0px;
    position: relative;
    opacity: 0;
    transform: translateX(30px);
    transition: all 0.7s ease-in-out;
    overflow: hidden;
    cursor: pointer;

    &.is-showing{
      opacity: 1;
      transform: translateX(0px);
    }

    img {
      display: block;
      transform: scale(1);
      transition: all 0.3s ease-in-out;
      //center the pics
      margin-left: auto;
      margin-right: auto;
    }

    &:hover{
      figcaption{
        left: 0%;
      }

      img{
      transform: scale(1.1);
      }
    }
  }

  figcaption{
    position: absolute;
    bottom: 10px;
    left: -100%;
    background: black;
    color: white;
    padding: 2px 8px;
    font-size: 11px;
    transition: all 0.3s ease-in-out;
  }
}

/* The Periscope */

.specialize{
  height: 640px;
  background-image: asset_url('bg-large.jpg');
  background-position: center 0px;
  background-repeat: repeat-y;
  border-radius: 50%;
  background-attachment: fixed;
  margin-top: 50px;
  position: relative;
  .window-tint{
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .promo-text{
    color: white;
    font-weight: 100;
    font-size: 50px;
    strong {
    display: block;
    font-size: 30px;
/*   text-shadow: -2px -2px 0px #fff,
                          0 -2px 0 #fff,
                          2px -2px 0 #fff,
                          2px 0 0 #fff,
                          2px 2px 0 #fff,
                          0 2px 0 #fff,
                          -2px 2px 0 #fff,
                          -2px 0 0 #fff;
*/
    }
    span{
      font-weight: 500;
      font-size: 18px;
      font-style: italic;
      color: rgba(255,255,255,0.6)
    }
    .window-cta{
    font-size: 20px;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 10px 20px;
    transition: all 0.3s ease-in-out;

    &:hover{
      background: white;
      color: black;
    }
    }
  }
}

/* Contact */
.social-contact{
  i{
    margin-top: 20px;
  }
}

/* signup page */

.signup {

  h2{
    font-size: 15px;
  }
  h1 {
    color: black;
    weight: 300;
  }
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}
