/* header_right */
#header_right {
  float: right;
  margin-right: 10px;
}

/* Slides */

.signup_orbit_images {
	max-width: 1200px;
    max-height: 500px;
}

.signup_face_images {
	max-width: 300px;
    max-height: 465px;
}

